body {
   background: url(../images/bg.jpg);
}
Header {
   text-align: center;
   color: antiquewhite;
}
#game-area {
   background: blue;
   width: 70vw;
   height: 80vh;
   text-align: center;
   margin: auto;
}
#results {
   background: green;
   height: 30%;
}
   #win-lose {
      font-size: 2rem;
   }
#stats {
   background: grey;
   height: 10%;
   display: flex;
   justify-content: space-around;
   font-size: 1.5rem;
}
#game-buttons {
   background: teal;
   height: 30%;
   visibility: hidden;
}
#chat-box {
   background: darkgray;
   height: 30%;
}
   #chat-box-form {
      display: flex;
      justify-content: center;   
   }